<mat-card>
    <mat-card-title>{{ heroe.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
    <img mat-card-image alt="Unknown source" [src]="heroe | imagen">
    <mat-card-content>
        <h3>{{ heroe.publisher }}</h3>
        <p>
            <strong> Primera aparición: </strong>{{ heroe.first_appearance }}
            <br>
            <strong> Personajes: </strong>{{ heroe.characters }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1rem">
            <button mat-button color="warn" [routerLink]="['/heroes/editar', heroe.id]">
                <mat-icon>build</mat-icon>
            </button>
            <button mat-button color="warn" [routerLink]="['/heroes', heroe.id]">
                <mat-icon>description</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>